.example-sidenav{
    width: 200px;
    background-color: #082032;
}
a{
    color: aliceblue;
    text-decoration: none;
}
.example-container{
    height: 100%;
   
}

  
mat-toolbar{
    background-color: #082032 !important;
    border-bottom: 1px solid black;
}
