<mat-toolbar  color="primary">
    <button mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button> <span>Project Management</span>
 </mat-toolbar>
<mat-sidenav-container class="example-container" >
    <mat-sidenav #drawer class="example-sidenav" mode="over" >
        <mat-list>
            <mat-list-item class="headings">
                <a matLine routerLink="/project" routerLinkActive="active">Project Dashboard</a>
            </mat-list-item><mat-divider style="background-color: aliceblue;"></mat-divider>
            <mat-list-item class="headings">
                <a matLine routerLink="/issue" routerLinkActive="active">Issue Dashboard</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

  <router-outlet></router-outlet>
  <!-- <app-projects></app-projects>
  <app-issue></app-issue> -->
</mat-sidenav-container>


