<div class="container">
    <h2 mat-dialog-title>Create Issue</h2>
    <mat-dialog-content>
        <form [formGroup]="issueDetail">
         <mat-form-field style="width: 25rem;" appearance="outline">
             <mat-label> Issue Status</mat-label>
             <mat-select formControlName="issueStatus">
                 <mat-option value="Active">Active</mat-option>
                 <mat-option value="Closed">Closed</mat-option>
             </mat-select>
         </mat-form-field>
        </form>
     </mat-dialog-content>
     <mat-dialog-actions align="end">
         <button mat-stroked-button color="primary" (click)="updateIssue()"  mat-dialog-close>
            save
         </button>
         <button mat-stroked-button mat-dialog-close>
            close
         </button>
     </mat-dialog-actions>
</div>

